#mainContainer {
  display: flex;
  padding-top: 5%;
}
#slidersContainer {
  width: 70%;
  height: 300px;
  display: inline-block;
}
#loremIpsum {
  width: 25%;
  display: inline-block;
  height: 300px;
  font-family: Calibri;
}

#loremIpsum h1{
  color: #134880;
}

#overflowContainer {
  width: 87%;
  height: 100%;
  display: inline-block;
}

#slidersContainer #upSlider,
#slidersContainer #overflowContainer {
  overflow: hidden;
}
#slidersContainer #upSlider,
#slidersContainer #downSlider {
  width: 100%;
  height: 47.5%;
}

#slidersContainer #upSlider {
  margin-bottom: 10px;
}

#slidersContainer #downSlider {
}

.imageContainer {
  height: 100%;
  display: inline-block;
}

.imageContainer img {
  display: block;
  margin: auto;
  max-height: 100%;
}

.photoImageContainer img {
  border-radius: 5%;
}
.arrowImageContainer {
  width: 12%;
}
#arrowLeftContainer .arrowImage,
#arrowRightContainer .arrowImage {
  margin-top: 45%;
  padding: 20%;
}

.arrowImage:hover {
  border: 1px solid #134880;
  border-radius: 5px
}